body{
  background-color: #ecf0f8;
  margin: 0;
}

.login-page {
  background-color: #FFFFFF;
  width: 450px;
  margin: 7em auto;
  min-height: 650px;
  overflow: hidden;
  border-radius: .8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.g-recaptcha{
  text-align: center;
  margin-left: 70px;
}

.nv-compte{
  background-color: #FFFFFF;
  width: 450px;
  min-height: 650px;
  overflow: hidden;
  margin: 7em auto;
  border-radius: .8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.ressemble_link{
  background-color: #000;
  margin: 0px 0px;
  padding: 14px 0px;
  padding-right: 10px;
  font-size: 17px;
  font-family: 'Bookman Old Style';
}

.ressemble_link:hover{
  color : #9bb5eb;
  transition: .8s;
}

h1{
  align-self: center;
  color : #283246;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 60px;
  text-align: center;
  background: #697899;
  color: white;
}
footer {
  display: block;
	margin: 0;
	padding: 20px;
  text-align: center;
	padding: 14px 16px;
	color: white;
	overflow: hidden;
	background-color: #697899;
}
input[type=text], input[type=password], select{
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
  resize: vertical;
}
textarea{
  resize: vertical;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
}
a{
  color : #785985;
  transition: .8s;
}
a:hover{
  color : #110116;
}
button{
  background-color: #283246;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Nav bar*/
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-size: medium;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .8s;
}

li a:hover:not(.active) {
  color: #9bb5eb;
}

.active {
  background-color: #9bb5eb;
  color: #fff;
}
.active:hover{
  color: #9bb5eb;
}
/*******/
.container{
  display: flex;
  flex-wrap: wrap;
  min-height: 470px;
}

.side{
  flex: 20%;
  background-color: #ecf0f8;
  padding: 20px;
}
h3, h2{
  text-align: center;
}
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.errmsg {
    font-weight: bold;
    font-size: 0.9em;
    color: red;
}


.liste {
  margin : 0px 20px;
  padding: 10px;
  background-color: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
  text-align : center;
}

.login td{
  cursor:hand;
  padding: 10 px;
}

.login table{
margin: auto;
}

.liste table {
  border-collapse: collapse;
  width: 100%;
}

.liste th {
  background-color:#000;
  color : #fff;
  text-align : center;
}

.liste td, .liste th {
  border-style: solid ;
  border-color : #999;
  border-width:1px;
  padding : 5px;
}
#virtualPave{
  align-self: center;
  margin: auto;
}

td, th {
  background-color: #eee;
  border: 2px solid rgb(141, 141, 141);
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 7px;

}

{box-sizing: border-box;}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #068a59;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.xdebug-error, .xe-warning {display:none !important;}
